.bg-faded {
  background-color: #3b3b70;
  color: #660000;
  border: 3px solid #000066; }

.nav-item {
  background-color: #cccccc;
  color: #660000;
  border: 1px double #000066; }

.nav-item:hover {
  background-color: #7d997d;
  color: #660000;
  border: 2px double #0d3f0d; }
