@mixin padrao ($background, $color, $border) {
	background-color: $background;
	color: $color;
	border: $border;
}

.bg-faded {
	@include padrao (#3b3b70, #660000, 3px solid #000066)
} 

.nav-item {
	@include padrao (#cccccc, #660000, 1px double #000066)
}

.nav-item:hover {
	@include padrao (#7d997d, #660000, 2px double #0d3f0d)
}
